<a href="https://colab.research.google.com/github/tchintchie/Data-Scientist-In-Python/blob/master/codebasics_customer_churn.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [99]:
import pandas as pd
import numpy as np

In [100]:
file_path = "https://raw.githubusercontent.com/codebasics/py/master/DeepLearningML/13_imbalanced/customer_churn.csv"
df = pd.read_csv(file_path)
df.head()

   customerID  gender  SeniorCitizen  ... MonthlyCharges TotalCharges  Churn
0  7590-VHVEG  Female              0  ...          29.85        29.85     No
1  5575-GNVDE    Male              0  ...          56.95       1889.5     No
2  3668-QPYBK    Male              0  ...          53.85       108.15    Yes
3  7795-CFOCW    Male              0  ...          42.30      1840.75     No
4  9237-HQITU  Female              0  ...          70.70       151.65    Yes

[5 rows x 21 columns]

In [101]:
df.shape

(7043, 21)

## Check for Imbalance

In [102]:
df.Churn.value_counts(normalize=True)*100

No     73.463013
Yes    26.536987
Name: Churn, dtype: float64

In [103]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7043 entries, 0 to 7042
Data columns (total 21 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   customerID        7043 non-null   object
 1   gender            7043 non-null   object
 2   SeniorCitizen     7043 non-null   int64
 3   Partner           7043 non-null   object
 4   Dependents        7043 non-null   object
 5   tenure            7043 non-null   int64
 6   PhoneService      7043 non-null   object
 7   MultipleLines     7043 non-null   object
 8   InternetService   7043 non-null   object
 9   OnlineSecurity    7043 non-null   object
 10  OnlineBackup      7043 non-null   object
 11  DeviceProtection  7043 non-null   object
 12  TechSupport       7043 non-null   object
 13  StreamingTV       7043 non-null   object
 14  StreamingMovies   7043 non-null   object
 15  Contract          7043 non-null   object
 16  PaperlessBilling  7043 non-null   object
 17  PaymentMethod     7043 non-null   object
 18  MonthlyCharges    7043 non-null   float64
 19  TotalCharges      7043 non-null   object
 20  Churn             7043 non-null   object
dtypes: float64(1), int64(2), object(18)
memory usage: 1.1+ MB

In [104]:
df.drop("customerID", axis = 1, inplace = True)

In [105]:
df.TotalCharges.head()

0      29.85
1     1889.5
2     108.15
3    1840.75
4     151.65
Name: TotalCharges, dtype: object

In [106]:
df.TotalCharges.isna().sum()
# there seems to be an " " at index 488,753 and more letÂ´s fill that with "0"

0

In [107]:
for i, row in enumerate(df.TotalCharges):
  if row == " ":
    no = row.replace(" ", "0")
    df.at[i,"TotalCharges"] = no

In [108]:
df.TotalCharges = pd.to_numeric(df.TotalCharges)

In [109]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7043 entries, 0 to 7042
Data columns (total 20 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   gender            7043 non-null   object
 1   SeniorCitizen     7043 non-null   int64
 2   Partner           7043 non-null   object
 3   Dependents        7043 non-null   object
 4   tenure            7043 non-null   int64
 5   PhoneService      7043 non-null   object
 6   MultipleLines     7043 non-null   object
 7   InternetService   7043 non-null   object
 8   OnlineSecurity    7043 non-null   object
 9   OnlineBackup      7043 non-null   object
 10  DeviceProtection  7043 non-null   object
 11  TechSupport       7043 non-null   object
 12  StreamingTV       7043 non-null   object
 13  StreamingMovies   7043 non-null   object
 14  Contract          7043 non-null   object
 15  PaperlessBilling  7043 non-null   object
 16  PaymentMethod     7043 non-null   object
 17  MonthlyCharges    7043 non-null   float64
 18  TotalCharges      7043 non-null   float64
 19  Churn             7043 non-null   object
dtypes: float64(2), int64(2), object(16)
memory usage: 1.1+ MB

In [110]:
def get_unique_vals(df):
  for col in df.select_dtypes(include="object"):
    print(col, df[col].unique())

In [111]:
get_unique_vals(df)

gender ['Female' 'Male']
Partner ['Yes' 'No']
Dependents ['No' 'Yes']
PhoneService ['No' 'Yes']
MultipleLines ['No phone service' 'No' 'Yes']
InternetService ['DSL' 'Fiber optic' 'No']
OnlineSecurity ['No' 'Yes' 'No internet service']
OnlineBackup ['Yes' 'No' 'No internet service']
DeviceProtection ['No' 'Yes' 'No internet service']
TechSupport ['No' 'Yes' 'No internet service']
StreamingTV ['No' 'Yes' 'No internet service']
StreamingMovies ['No' 'Yes' 'No internet service']
Contract ['Month-to-month' 'One year' 'Two year']
PaperlessBilling ['Yes' 'No']
PaymentMethod ['Electronic check' 'Mailed check' 'Bank transfer (automatic)'
 'Credit card (automatic)']
Churn ['No' 'Yes']

In [112]:
df.replace("No phone service", "No", inplace = True)
df.replace("No internet service", "No", inplace = True)

In [113]:
get_unique_vals(df)

gender ['Female' 'Male']
Partner ['Yes' 'No']
Dependents ['No' 'Yes']
PhoneService ['No' 'Yes']
MultipleLines ['No' 'Yes']
InternetService ['DSL' 'Fiber optic' 'No']
OnlineSecurity ['No' 'Yes']
OnlineBackup ['Yes' 'No']
DeviceProtection ['No' 'Yes']
TechSupport ['No' 'Yes']
StreamingTV ['No' 'Yes']
StreamingMovies ['No' 'Yes']
Contract ['Month-to-month' 'One year' 'Two year']
PaperlessBilling ['Yes' 'No']
PaymentMethod ['Electronic check' 'Mailed check' 'Bank transfer (automatic)'
 'Credit card (automatic)']
Churn ['No' 'Yes']

In [114]:
df.replace({"Female":0,"Male":1}, inplace = True)
df.replace({"Yes":1, "No":0}, inplace = True)

In [115]:
get_unique_vals(df)

InternetService ['DSL' 'Fiber optic' 0]
Contract ['Month-to-month' 'One year' 'Two year']
PaymentMethod ['Electronic check' 'Mailed check' 'Bank transfer (automatic)'
 'Credit card (automatic)']

In [116]:
df = pd.get_dummies(data=df, columns= ["InternetService", "Contract", "PaymentMethod"], drop_first = True)
df.head()

   gender  ...  PaymentMethod_Mailed check
0       0  ...                           0
1       1  ...                           1
2       1  ...                           1
3       1  ...                           0
4       0  ...                           0

[5 rows x 24 columns]

## some columns need to be normalized for logistic regression

In [117]:
normalize_cols = ["tenure", "MonthlyCharges","TotalCharges"]
from sklearn.preprocessing import MinMaxScaler
scaler = MinMaxScaler()
df[normalize_cols] = scaler.fit_transform(df[normalize_cols])

In [118]:
df.head()

   gender  ...  PaymentMethod_Mailed check
0       0  ...                           0
1       1  ...                           1
2       1  ...                           1
3       1  ...                           0
4       0  ...                           0

[5 rows x 24 columns]

## ready for model training
### before handling imbalance

In [119]:
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import train_test_split
from imblearn.over_sampling import SMOTE
from sklearn.metrics import classification_report, confusion_matrix

In [120]:
def train_model(df):
  X = df.drop("Churn", axis = 1)
  y = df.Churn
  X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.2, stratify = y, random_state = 1)
  logreg = LogisticRegression(random_state=1)
  logreg.fit(X_train, y_train)
  preds = logreg.predict(X_test)
  report = classification_report(y_test, preds)
  print(report)

In [121]:
train_model(df)

              precision    recall  f1-score   support

           0       0.85      0.90      0.87      1035
           1       0.67      0.55      0.60       374

    accuracy                           0.81      1409
   macro avg       0.76      0.72      0.74      1409
weighted avg       0.80      0.81      0.80      1409

### using undersampling

In [122]:
class0, class1 = df.Churn.value_counts()
# class 0 needs to be undersampled
df_0 = df[df.Churn == 0]
df_1 = df[df.Churn == 1]

In [123]:
df_0_under = df_0.sample(class1)
df_under = pd.concat([df_0_under, df_1], axis = 0)
df_under.shape

(3738, 24)

In [124]:
df_under.Churn.value_counts()

1    1869
0    1869
Name: Churn, dtype: int64

In [125]:
train_model(df_under)

              precision    recall  f1-score   support

           0       0.80      0.70      0.74       374
           1       0.73      0.82      0.77       374

    accuracy                           0.76       748
   macro avg       0.76      0.76      0.76       748
weighted avg       0.76      0.76      0.76       748

In [126]:
# f1-score for class 1 improved from .60 to .77

### using oversampling

In [127]:
df_1_over = df_1.sample(class0, replace=True)
df_1_over = pd.concat([df_0, df_1_over], axis = 0)
df_1_over.Churn.value_counts()

1    5174
0    5174
Name: Churn, dtype: int64

In [128]:
train_model(df_1_over)

              precision    recall  f1-score   support

           0       0.77      0.72      0.74      1035
           1       0.74      0.79      0.76      1035

    accuracy                           0.75      2070
   macro avg       0.75      0.75      0.75      2070
weighted avg       0.75      0.75      0.75      2070

### using SMOTE

In [139]:
smote = SMOTE(sampling_strategy="minority")
X = df.drop("Churn", axis = 1)
y = df.Churn
X_sm, y_sm = smote.fit_sample(X, y)
y_sm.sum(), len(y_sm)

/usr/local/lib/python3.6/dist-packages/sklearn/utils/deprecation.py:87: FutureWarning: Function safe_indexing is deprecated; safe_indexing is deprecated in version 0.22 and will be removed in version 0.24.
  warnings.warn(msg, category=FutureWarning)

(5174, 10348)

In [140]:
X_train, X_test, y_train, y_test = train_test_split(X_sm, y_sm, stratify = y_sm, random_state = 1, test_size = 0.2)
logreg = LogisticRegression()
logreg.fit(X_train, y_train)
preds = logreg.predict(X_test)
report = classification_report(y_test, preds)
print(report)

              precision    recall  f1-score   support

           0       0.79      0.74      0.76      1035
           1       0.75      0.81      0.78      1035

    accuracy                           0.77      2070
   macro avg       0.77      0.77      0.77      2070
weighted avg       0.77      0.77      0.77      2070

In [141]:
# just slightly better than over- and undersampling

### using ensemble

In [145]:
y.value_counts()*0.8 #will be used as train size

0    4139.2
1    1495.2
Name: Churn, dtype: float64

- model 1: class 0 --> (0,1495)
- model 2: class 0 --> (1496, 2991)
- model 3: class 0 --> (2992, -1)

####  divide train-df into 3 equally sized batches and train a model on each

In [147]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.2, stratify = y, random_state = 1)

In [148]:
ensemble_df = X_train.copy()
ensemble_df["Churn"] = y_train

In [149]:
# separate the classes
ens_df_0 = ensemble_df[ensemble_df.Churn == 0]
ens_df_1 = ensemble_df[ensemble_df.Churn == 1]

In [151]:
ens_df_1.shape, ens_df_0.shape

((1495, 24), (4139, 24))

In [152]:
ens_df_0.head()

      gender  SeniorCitizen  ...  PaymentMethod_Mailed check  Churn
159        1              0  ...                           0      0
6259       1              0  ...                           0      0
4291       0              0  ...                           0      0
2235       0              0  ...                           0      0
1748       0              0  ...                           0      0

[5 rows x 24 columns]

In [153]:
def get_batches(df_major, df_minor, start, stop):
  train = pd.concat([df_major[start:stop], df_minor], axis = 0)
  X_train = train.drop("Churn", axis = 1)
  y_train = train.Churn
  return X_train, y_train

In [154]:
X1_train, y1_train = get_batches(ens_df_0, ens_df_1, 0,1495)
X2_train, y2_train = get_batches(ens_df_0, ens_df_1, 1496,2991)
X3_train, y3_train = get_batches(ens_df_0, ens_df_1, 2992,-1)

In [155]:
X1_train.shape, X2_train.shape, X3_train.shape

((2990, 23), (2990, 23), (2641, 23))

In [156]:
logreg.fit(X1_train, y1_train)
preds1 = logreg.predict(X_test)
report1 = classification_report(y_test, preds1)

In [157]:
logreg.fit(X2_train, y2_train)
preds2 = logreg.predict(X_test)
report2 = classification_report(y_test, preds2)

In [158]:
logreg.fit(X3_train, y3_train)
preds3 = logreg.predict(X_test)
report3 = classification_report(y_test, preds3)

In [161]:
final_preds = np.zeros_like(preds1)
for i in range(len(preds1)):
  ones = preds1[i] + preds2[i]+preds3[i]
  if ones > 1:
    final_preds[i] = 1
  else:
    final_preds[i] = 0

In [162]:
final_report = classification_report(y_test, final_preds)
print(final_report)

              precision    recall  f1-score   support

           0       0.91      0.71      0.80      1035
           1       0.50      0.79      0.61       374

    accuracy                           0.73      1409
   macro avg       0.70      0.75      0.70      1409
weighted avg       0.80      0.73      0.75      1409

In [163]:
# the overall best result came from using SMOTE, itÂ´s also the least complex method to use